body {
  font-family: 'Nunito', sans-serif;
  background-color: #36393f;
}
.title {
  /* background: red; */
  max-width: 600px;
  margin: 1em auto;
  text-align: center;
  color: white;
}
#chat-container {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5), green, blue, alpha;
  background: white;
}

#chat-window {
  padding: 14px 0;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#output p {
  color: #aaa;
  padding: 14px 0;
  margin: 0 20px;
}

#actions p {
  padding: 14px 0;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0;
  /* background: #eee; */
  background: #40444b;
  display: block;
  width: 100%;
  color: white;
}
button {
  background: #57d8d8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
.user-window {
  background-color: #2f3136;
}
.user-window p {
  /* background: red; */
  display: inline-block;
  border-radius: 1em;
  border: 1px solid;
  border-color: white;
  padding: 10px;
  margin: 1em;
  color: white;
}
